{{#if hasGeolocationData}}
    <span class="integration-summary-tag integration-background-color integration-border-color">
     <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">
        {{geolocation}}
    </span>
  </span>
{{/if}}

{{#if details.org}}
    <span class="integration-summary-tag integration-background-color integration-border-color">
   <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
  <span class="integration-text-color">{{details.org}}</span>
</span>
{{/if}}





